
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}	
]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{relx, [{release, {emqtt, "0.0.1"},
         [emqtt]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{plugins, [
    rebar3_run
]}.